/*overall styles*/

html, body, h1, h2, h3, p {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
}

html {
    font-size: 62.5%;
    /* 10px / 16px / 1rem */
}

/*main index styles*/

h1 {
    font: 2.1em 'Oswald', sans-serif;
    color: #303030;
}

h2 {
    font: 1.56em 'Oswald', sans-serif;
    color: #f2f2f2;
}

h2 a {
    font: italic 1.56em 'Oswald', sans-serif;
    color: #f2f2f2;
    text-decoration: underline;
}

h2 a:hover {
    font: italic 1.56em 'Oswald', sans-serif;
    color: #d49b30;
    text-decoration: underline;
}

h3 {
    font: 1.125em 'Lato Black', sans-serif;
    color: #8e5942;
    text-transform: uppercase;
}

h4 {
  font: 1.125em 'Lato Light', sans-serif;
  color: #8e5942;
  text-transform: uppercase;
}

p {
    font: 1em 'Lato', sans-serif;
    color: #303030;
    line-height: 1.6em;
}

p a {
    font: italic 700 1em 'Lato', sans-serif;
    color: #be5f27;
}

p a:hover {
    font: italic 700 1em 'Lato', sans-serif;
    color: #d49b3c;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.splash {
    width: 100%;
    z-index: 0;
    height: 615px;
}


/*.form input {
    width: 500px;
    margin-bottom: 25px;
}

.form input[type=submit], label[form=custom] {
    display: inline;
}*/


/*class styles*/

/*header {
    height: 815px;
    overflow: hidden;
}*/

/*index styles*/

header ul {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
}

#fix-logo {
    width: 140px;
}

nav ul {
    background-color: #f2f2f2;
    opacity: 0.9;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 215px;
    margin: 0px;
}

nav ul li a{
    font: 1.06em 'Lato', sans-serif;
    color: #303030;
    text-decoration: none;
}

.get-your-fix {
    display: flex;
    justify-content: center;
    z-index: -1;
    flex-flow: row nowrap;
    margin: 10px;
}

.banner-style {
    background-color: #d49b30;
    z-index: 0;
    order: 0;
    flex-shrink: 0.1;
    align-self: flex-start;
    position: absolute;
}

.banner-style h1 {
    color: rgb(255, 255, 255);
}

.white-about-box {
    z-index: -1;
    order: 1;
}

.example-cakes {
    background-color: #c3bbac;
    z-index: -1;
    order: 2;
    text-align: center;
}

.white-about-box, .example-cakes {
    flex-basis: 50%;
}

.example-cakes ul {
    text-align: center;
}

.white-cake-icon {
    width: 80px;
}

.example-cakes ul li {
    font: 700 3.25em 'Oswald', sans-serif;
    line-height: 70%;
    color: #f2f2f2;
    text-transform: uppercase;
}


#hours {
    background-color: #8e5942;
    height: 220px;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font: 2.1em 'Oswald', sans-serif;
    color: #ffffff;
}

/*picture and icons section*/


.promises p {
  font: 700 2.5em 'Oswald', sans-serif;
  color: #c3bbac;
  line-height: 70%;
  text-transform: uppercase;
  text-align: center;
}

.band-1 {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 50%;
    align-items: center;
}

.tirasmisu {
  order: 0;
  flex-grow: 70%;
}

.love {
  order: 1;
}

.heart {
  width: 80px;
  text-align: center;
}

.band-2 {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 50%;
  align-items: center;
}

.made-from-scratch {
  order: 2;
}

.prep {
  order: 3;
  flex-grow: 70%;
}

.whisk {
  width: 80px;
  text-align: center;
}

.band-3 {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 50%;
  align-items: center;
}

.carrot-cake {
  order: 4;
  flex-grow: 70%;
}

.custom-orders {
    order: 5;
}

.lightbulb {
  width: 80px;
  text-align: center;
}

footer {
    background-color: #be5f27;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
}

footer p{
  font: 0.9em 'Oswald Regular', sans-serif;
  color: #f2f2f2;
  text-transform: uppercase;

}

.address-box {
    justify-content: flex-start;
    color: #ffffff;
}

.fix-cakes-white-logo {
    justify-content: center;
    width: 100px;
}

.facebook-icon, .twitter-icon, .instagram-icon {
  height: 38px;
}

.contact-info {
    justify-content: flex-end;
}

/*Menu Page Styles*/
.menu h3 {
    z-index: 0;
}

.cakes {
  visibility: visible;
  z-index: -1;
}

.other {
  visibility: hidden;
  z-index: -1;
}
/*media queries:
tablet: 680px
phone: 480px
*/
