/*overall styles*/

html, body, h1, h2, h3, p {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
}

html {
    font-size: 62.5%;
    /* 10px / 16px / 1rem */
}

/*main index styles*/

h1 {
    font: 2.1em 'Oswald', sans-serif;
    color: #303030;
}

p {
    font: 1em 'Lato', sans-serif;
    color: #303030;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
}

p a {
    font: italic 700 1em 'Lato', sans-serif;
    color: #be5f27;
}

p a:hover {
    font: italic 700 1em 'Lato', sans-serif;
    color: #d49b3c;
    text-decoration: underline;
}

h2 {
    font: 1.56em 'Oswald', sans-serif;
    color: #f2f2f2;
}

h2 a {
    font: italic 1.56em 'Oswald', sans-serif;
    color: #f2f2f2;
    text-decoration: underline;
}

.splash {
    width: 100%;
    z-index: 0;
}


/*.form input {
    width: 500px;
    margin-bottom: 25px;
}

.form input[type=submit], label[form=custom] {
    display: inline;
}*/


/*class styles*/

header {
    height: 815px;
    overflow: hidden;
}

header ul {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
}

#fix-logo {
    width: 140px;
}

nav {
    background-color: #f2f2f2;
    opacity: 0.9;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 215px;
}

nav ul li {
    font: 1.06em 'Lato', sans-serif;
    color: #303030;
}

.get-your-fix {
    display: flex;
    justify-content: center;
    z-index: -1;
    flex-flow: row nowrap;
}

.banner-style {
    background-color: #d49b30;
    z-index: 1;
    order: 0;
    flex-shrink: 0.1;
    align-self: flex-start;
    position: absolute;
}

.banner-style h1 {
    color: rgb(255, 255, 255);
}

.white-about-box {
    z-index: 0;
    order: 1;
}

.example-cakes {
    background-color: #c3bbac;
    z-index: 0;
    order: 2;
    text-align: center;
}

.white-about-box, .example-cakes {
    flex-basis: 50%;
}

.example-cakes ul {
    text-align: center;
}

.white-cake-icon {
    width: 80px;
}

.example-cakes ul li {
    font: 700 3.25em 'Oswald', sans-serif;
    line-height: 70%;
    color: #f2f2f2;
    text-transform: uppercase;
}

.hours-section {
    background-color: #8e5942;
    height: 220px;
}

.hours-section ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.hours-section ul li {
    font: 2.1em 'Oswald', sans-serif;
    color: #ffffff;
}

.hours-section ul li:nth-child(1) {
    justify-content: flex-start;
}

.hours-section ul li:nth-child(2) {
    justify-content: center;
}

.hours-section ul li:nth-child(3) {
    justify-content: flex-end;
}

.parent-container {
    display: flex;
    flex-flow: row nowrap;
}

.tirasmisu+.love {}

.made-from-scratch+.prep {}

.carrot-cake+.custom-orders {}

footer {
    background-color: #be5f27;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
}

.address-box {
    justify-content: flex-start;
    color: #ffffff;
}

.fix-cakes-white-logo {
    justify-content: center;
}

.contact-info {
    justify-content: flex-end;
}


/*media queries:
tablet: 680px
phone: 480px
*/
